@import "./material.less";



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app {

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .app-nav {
        padding-right: 10px;
        position: relative;

        .nav-container {
            z-index: 1;
            position: absolute;
            background: #fff;
            top: 0px;
            bottom: 0px;
            display: flex;
            flex-direction: row;
            align-items: stretch;

            .nav__flow {
                width: 0px;
                transform: scale(0, 1);
                transition: all 1s ease-in-out .2s;
                transform-origin: left;
            }

            &::after {
                content: "";
                display: block;
                width: 10px;
                align-self: center;
                height: 10px;
                border-top: 10px solid #fff;
                border-left: 10px solid #000;
                border-bottom: 10px solid #fff;
                margin: 0px;
            }
        }

        &:hover {
            .nav__flow {
                transform: scale(1, 1);
                width: auto;
            }
            max-width: 1000;
            transition: width 1s ease-in-out .2s;
        }

    }

    .main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;

    }
}