.ext-app {
    position: relative;
    z-index: 9999;

    .app {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        height: 500px;

        .app-nav {
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            width: 10px;
            background: red;

            .app-nav-mini-icons {
                width: 100%;
                height: 100%;
            }

            .app-nav-details {
                transition: transform 1s ease-in-out;
                transform: scale(0, 1);
                position: absolute;
                z-index: 2;
                top: 0px;
                transform-origin: left;
                bottom: 0px;
                height: 100%;
                ul {

                    background-color: #fff;
                    overflow: hidden;
                    flex-wrap: nowrap;
                    width: auto;
                    height: 100%;;
                }
            }

            &:hover {
                .app-nav-details {
                    transform: scale(1, 1)
                }
            }

        }

        .app-content {
            width: 90%;
            box-sizing: border-box;
        }
    }
}