.card-wrapper {
    width: 100%;
    height: 100%;

    .card-header {
        line-height: 30px;
        height: 30px;
        width: 100%;
        color: #9fb9ae;

        .card-title {
            font-size: 1.3rem;
            text-indent: 5px;
        }

        .card-station-info {
            font-size: .8rem;
        }

    }

    .card-content {}


}