button.timeline-btn {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);

    .svg-icon {
        width: 24px;
        height: 24px;
        fill: #9fb9ae;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &:hover {
        .svg-icon {
            fill: #119960;
        }
    }
}