@import (less, reference) "../../../node_modules/material-design-icons/sprites/svg-sprite/svg-sprite-action.css";
@cicleWidth: 24px;
@cicleHeight: 24px;

.timeline-wrapper {
    overflow: auto;
    width: 100%;
    height: auto;

    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        pointer-events: none;
        align-items: center;
        background: linear-gradient(#e66465, #9198e5);
        overflow: visible;
        width: 100%;
        min-width: 300px;
        min-height: 200px;

        .timeline-add-btn {
            &:extend(.svg-ic_3d_rotation_24px);
            min-width: @cicleWidth;
            pointer-events: all;
            min-height: @cicleWidth;
            max-width: @cicleWidth;
            max-height: @cicleWidth;
            margin: 10px auto 0px auto;
            position: relative;
            z-index: 2;
            border-radius: 50%;
            background: #f6f6f6;
            overflow: hidden;
            padding: 0px;
        }

        .timeline-axis {
            display: inline-block;
            width: 4px;
            height: ~"calc(100% - 10px)";
            margin: 10px auto 0px auto;
            background: #fff;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 1;
            border-radius: 12px 12px 0px 0px;
        }

        .timeline-item-wrapper {
            width: 50%;
            min-height: 150px;
            z-index: 3;
            position: relative;
            pointer-events: all;

            &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: 0px;
                bottom: 0px;
                margin: auto 0;
            }


            .timeline-item {
                width: 80%;
                height: 100px;
                background: #fff;
                border-radius: 8px;
                position: absolute;
                top: 0px;
                bottom: 0px;
                outline: none;
                transition: all .5s ease-in-out;
                display: flex;
                flex-direction: column;
                margin: auto 3px;


                .timeline-item-toolbar {
                    position: absolute;
                    text-align: right;
                    right: 0px;
                    margin: 6px;
                    width: 100px;
                    height: 20px;
                    opacity: 0;

                    .svg-icon {
                        transform: scale(.8);
                    }

                    &:hover {
                        transition: opacity .2s ease-in-out;
                        opacity: 1;
                    }

                }

                .time-line-card-wrapper {
                    text-indent: .5rem;
                    height: 100%;

                    .time-line-header {
                        font-size: 1.3rem;
                        height: 40px;
                        line-height: 40px;
                        border-bottom: 1px solid #9fb9ae;

                    }

                }

                &::after {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    margin: auto 0;
                }

                &:hover {
                    width: ~"calc( 80% + 5px )";
                    height: 105px;

                }

                &:focus {
                    border: 1px solid #3f3f68;
                    box-shadow: 3px 3px #888888;
                    outline: 1px solid #3f3f68;
                }


            }

            &:nth-child(odd) {
                align-self: flex-start;

                &::before {
                    right: -10px;
                }

                .timeline-item {
                    right: 15px;
                    margin-right: 10px;

                    &::after {
                        left: 100%;
                        border-top: @cicleWidth/2px solid rgba(255, 255, 255, 0);
                        border-bottom: @cicleWidth/2px solid rgba(255, 255, 255, 0);
                        border-left: @cicleHeight/2px solid #fff;
                        border-right: @cicleHeight/2px solid rgba(255, 255, 255, 0);
                    }
                }
            }

            &:nth-child(even) {
                align-self: flex-end;

                &::before {
                    left: -10px;
                }

                .timeline-item {
                    left: 15px;
                    margin-left: 10px;

                    &::after {
                        right: 100%;
                        border-left: @cicleHeight/2px solid rgba(255, 255, 255, 0);
                        border-top: @cicleWidth/2px solid rgba(156, 135, 135, 0);
                        border-bottom: @cicleWidth/2px solid rgba(255, 255, 255, 0);
                        border-right: @cicleHeight/2px solid #fff;
                    }
                }
            }
        }
    }
}