<div class="passenger-panel-container">
    <b-table hover :items="items" :fields="fields" :busy="isBusy" :filter="searchText" thead-class="thead-class"
        table-class="table-class" tbody-class="tbody-class">
        <div slot="table-busy" class="text-center">
            <b-spinner class="align-middle" variant="info" v-if="isBusy"></b-spinner>
            <strong>Loading...</strong>
        </div>
    </b-table>
</div>