<div class="card-wrapper">
    <div class="card-header">
        <span class="card-title">{{item.title}}</span>
        <span class="card-station-info">{{item.startStation}}
            <svg-icon id="#ic_directions_transit_24px"></svg-icon>
            {{item.endStation}}</span>
    </div>
    <div class="time-line-card-content">
    </div>
</div>