<template id="taskPanelTemp">
    <div>
        <div class="searchbox-container">
            <b-form-input v-model="searchText" placeholder="placeholder"></b-form-input>
        </div>
        <b-table hover :items="items" :fields="fields" :busy="isBusy" thead-class="thead-class" :filter="searchText"
            table-class="table-class" tbody-class="tbody-class">
            <div slot="table-busy" class="text-center">
                <b-spinner class="align-middle" variant="info" v-show="showSpinner"></b-spinner>
                <strong>Loading...</strong>
            </div>
        </b-table>
    </div>
</template>