<div class="timeline-item" z-index="1">
    <div class="timeline-item-toolbar">
        <svg-icon id="#ic_create_24px" className="timeline-edit" @click="onEditButtonClick(item)" title="edit">
        </svg-icon>
        <svg-icon id="#ic_delete_forever_24px" className="timeline-delete" @click="onDeleteButtonClick(item.id)"
            title="Delete">
        </svg-icon>
    </div>
    <slot :item="item"></slot>
</div>