<div class="timeline-wrapper">
    <div class="timeline">
        <svg-icon id="#ic_add_24px" className="timeline-add-btn" @click="onAddButtonClick()" title="add"></svg-icon>
        <div class="timeline-axis"></div>
        <div class="timeline-item-wrapper" v-for="item in items">
            <div class="timeline-item" z-index="1">
                <div class="timeline-item-toolbar">
                    <svg-icon id="#ic_create_24px" className="timeline-edit" @click="onEditButtonClick(item)"
                        title="edit">
                    </svg-icon>
                    <svg-icon id="#ic_delete_forever_24px" className="timeline-delete"
                        @click="onDeleteButtonClick(item.id)" title="Delete">
                    </svg-icon>
                </div>
                <time-line-card :item="item">
                    <slot name="uuid" :data="item"></slot>
                </time-line-card>
            </div>
        </div>

    </div>
</div>
<!-- <link rel="stylesheet" type="text/css" href="../style/timeline.css"> -->