<div class="ext-app">
    <b-button variant="secondary" v-b-modal.extModal${modalNum} @click="onOpen()">
        {{"extensionEntry"}}
    </b-button>
    <b-modal v-if="active" size="lg" :body-class="bodyClass" id="extModal${modalNum}" @close.prevent="onClose">
        <div class="app">
            <!-- <div class="app-nav" style="display: none;">
                <div class="app-nav-mini-icons">
                </div>
                <div class="app-nav-details">
                </div>
            </div>
            <div class="app-content" style="display: none;">
                <div class="app-toolbar">
                    <tool-bar></tool-bar>
                </div>>
                <div class="app-main">
                    <div class="searchbox-container">
                        <b-form-input v-model="searchText" placeholder="placeholder"></b-form-input>
                    </div>
                </div>
            </div> -->
            <time-line>
                <time-line-item>
                    <time-line-card></time-line-card>
                </time-line-item>
            </time-line>
        </div>
    </b-modal>
</div>